body
    font($font.family.sourceSansPro)
    background-position left
    background-repeat repeat-y
    margin 0
    padding 0
    overflow-x hidden

    @media Tablet
        background-image none

    input,
    textarea
        outline none

    a
        text-decoration none

    .hidden
        display none

    .Main
        display flex
