@import '../../../shared/styles/_dependencies'

.contact
    .wrapper
        width 500px
        margin 0 auto
        padding-top 30px
        min-height 320px

        .feedbackMessage
            text-align center

        .feedbackText
            fontSize($font.size.xxLarge)
            padding-bottom 40px

        .form
            .fieldContainer
                position relative

            .fieldIcon
                color($colors.common.gray.B)
                fontSize($font.size.xLarge)
                padding 10px 10px 10px
                position absolute

            .email,
            .name,
            .message
                font($font.family.openSans, $font.size.larger)
                background($colors.common.white)
                border($colors.common.gray.D)
                color($colors.common.gray.seven)
                border-radius 5px
                line-height 1.4
                margin-bottom 10px
                padding 10px 0px 10px 25px
                text-indent 10px
                width 100%

            .message
                height 120px
                width 100%
