.Content
    .container
        .Create
        .Update
            .editor
                border($colors.common.gray.D)

            .select
                background($colors.common.white)
                border($colors.common.gray.D)
