{
  "presets": [
    "es2015",
    "react",
    "stage-2",
    "stage-0"
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "@client": "./src/client/",
        "@baseActions": "./src/shared/redux/baseActions.js",
        "@baseComponent": "./src/shared/components/BaseComponent.jsx",
        "@configuration": "./config",
        "@configureStore": "./src/shared/redux/configureStore.js",
        "@constants": "./src/shared/constants",
        "@error": "./src/shared/components/error",
        "@form": "./src/shared/components/form",
        "@helpers": "./src/shared/helpers",
        "@layout": "./src/shared/components/layout",
        "@ui": "./src/shared/components/ui",
        "@utils": "./src/shared/utils"
      }
    }]
  ],
  "env": {
    "production": {
      "presets": ["react-optimize"]
    },
    "local": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    }
  }
}
