@import url("/node_modules/normalize-css/normalize.css");
@import url("/node_modules/font-awesome/css/font-awesome.min.css");
/* Fonts */
@font-face {
  font-family: 'AvenirRoman';
  src: url("/assets/fonts/Avenir/Roman/font.woff2") format("woff2"), url("/assets/fonts/Avenir/Roman/font.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'AvenirLight';
  src: url("/assets/fonts/Avenir/Light/font.woff2") format("woff2"), url("/assets/fonts/Avenir/Light/font.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'OpenSans';
  src: url("/assets/fonts/OpenSans/font.woff2") format("woff2"), url("/assets/fonts/OpenSans/font.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'SourceCodePro';
  src: url("/assets/fonts/SourceCodePro/font.woff2") format("woff2"), url("/assets/fonts/SourceCodePro/font.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'SourceSansPro';
  src: url("/assets/fonts/SourceSansPro/font.woff2") format("woff2"), url("/assets/fonts/SourceSansPro/font.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

/* Mixins */
/* Variables, fonts & global styles */
table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-top: 25px; }

.noData {
  background-color: #000;
  font-family: "OpenSans", sans-serif;
  font-size: 16px;
  font-size: 1pxrem;
  text-transform: uppercase;
  color: #FFF;
  margin-top: 70px;
  padding: 5px;
  text-align: center;
  width: 165px; }

.actions {
  margin-top: 10px;
  width: 305px; }
  @media (max-width: 640px) {
    .actions {
      margin: 0 auto;
      margin-top: 10px; } }

.table {
  background-color: #FFF;
  width: 95%;
  /* Custom colors for rows */
  /* Table colors */ }
  @media (min-width: 768px) and (max-width: 1023px) {
    .table {
      width: 98%; } }
  @media (max-width: 640px) {
    .table {
      width: 99%; } }
  .table caption {
    background-color: #FFF;
    font-size: 24px;
    font-size: 1.5pxrem;
    color: #555;
    border: 1px solid #EEE;
    border-bottom: 0;
    border-radius: 4px 4px 0 0;
    padding: 25px 30px;
    position: relative;
    text-align: left;
    text-transform: capitalize; }
    .table caption .caption {
      float: left; }
    .table caption .total {
      float: right; }
  .table thead {
    background-color: #F9F9F9; }
    .table thead th {
      font-size: 16px;
      font-size: 1pxrem;
      font-weight: 700;
      padding: 20px 8px;
      text-transform: none; }
      .table thead th.darkMode {
        color: #CCC; }
      .table thead th input[type="checkbox"] {
        transform: scale(1.2); }
      @media (min-width: 768px) and (max-width: 1023px) {
        .table thead th {
          font-size: 13px;
          font-size: 0.8125pxrem;
          font-weight: 700; } }
      @media (max-width: 640px) {
        .table thead th {
          font-size: 12px;
          font-size: 0.75pxrem;
          font-weight: 700; } }
    @media (min-width: 768px) and (max-width: 1023px) {
      .table thead th[data-column="Dashboard.table.id"],
      .table thead th[data-column="Dashboard.table.author"],
      .table thead th[data-column="Dashboard.table.value"],
      .table thead th[data-column="Dashboard.table.application"],
      .table thead th[data-column="Dashboard.table.theme"] {
        display: none; } }
  .table tbody tr {
    border-bottom: 1px solid #EEE; }
    .table tbody tr:hover {
      background-color: #F9F9F9; }
    .table tbody tr td {
      font-size: 16px;
      font-size: 1pxrem;
      height: 50px;
      max-width: 220px;
      overflow: hidden;
      padding: 20px 20px;
      text-overflow: ellipsis;
      white-space: nowrap; }
      @media (min-width: 768px) and (max-width: 1023px) {
        .table tbody tr td {
          max-width: 190px; } }
      .table tbody tr td input[type="checkbox"] {
        transform: scale(1.2); }
      .table tbody tr td a {
        color: #333; }
      @media (min-width: 768px) and (max-width: 1023px) {
        .table tbody tr td {
          font-size: 12px;
          font-size: 0.75pxrem; } }
      @media (max-width: 640px) {
        .table tbody tr td {
          font-size: 12px;
          font-size: 0.75pxrem;
          padding: 9px; } }
    @media (min-width: 768px) and (max-width: 1023px) {
      .table tbody tr td[data-column="Dashboard.table.id"],
      .table tbody tr td[data-column="Dashboard.table.author"],
      .table tbody tr td[data-column="Dashboard.table.value"],
      .table tbody tr td[data-column="Dashboard.table.application"],
      .table tbody tr td[data-column="Dashboard.table.theme"] {
        display: none; } }
    .table tbody tr td[data-column="Dashboard.table.user"],
    .table tbody tr td[data-column="Dashboard.table.createdAt"] {
      text-align: center; }
  .table .center {
    text-align: center; }
  .table .actions {
    font-size: 18px;
    font-size: 1.125pxrem;
    width: 50px; }
    .table .actions .edit:hover {
      color: #2EA1F8; }
    .table .actions .delete:hover {
      color: #ED1C24; }
    .table .actions .remove:hover {
      color: #FF0000; }
    .table .actions .restore:hover {
      color: #1D9A90; }
  .table .success {
    border-left: 5px solid #3B6E22; }
    @media (max-width: 640px) {
      .table .success {
        border-left: 2px solid #3B6E22; } }
  .table .info {
    border-left: 5px solid #0073BC; }
    @media (max-width: 640px) {
      .table .info {
        border-left: 2px solid #0073BC; } }
  .table .danger {
    color: #ED1C24;
    border-left: 5px solid #ED1C24; }
    @media (max-width: 640px) {
      .table .danger {
        border-left: 2px solid #ED1C24; } }
  .table .warning {
    border-left: 5px solid #FD9A18; }
    @media (max-width: 640px) {
      .table .warning {
        border-left: 2px solid #FD9A18; } }
  .table.grey {
    border: 1px solid #DDD;
    color: #333; }
    .table.grey thead th {
      border-bottom: 1px solid #DDD;
      color: #777; }

.flag {
  background-image: url("/assets/flags/flags.png");
  background-repeat: no-repeat;
  display: inline-block;
  height: 11px;
  width: 16px; }
  .flag.br {
    background-position: 0 0; }
  .flag.gf {
    background-position: -32px 0; }
  .flag.es {
    background-position: 0 -11px; }
  .flag.de {
    background-position: -16px 0; }
  .flag.en {
    background-position: -16px -11px; }

.pagination {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #333;
  margin: 0 auto;
  margin-top: 40px;
  text-align: center;
  width: 100%; }
  .pagination.darkMode li a {
    color: #FFF; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .pagination {
      font-size: 13px;
      font-size: 0.8125pxrem; } }
  @media (max-width: 640px) {
    .pagination {
      margin-left: 0; } }
  .pagination li {
    display: inline-block;
    padding: 4px 6px 4px 0;
    text-align: center; }
    @media (max-width: 640px) {
      .pagination li {
        padding: 2px 3px 2px 0; } }
    .pagination li a {
      color: #000;
      border-radius: 5px;
      float: left;
      padding: 8px 16px;
      text-decoration: none; }
      @media (max-width: 640px) {
        .pagination li a {
          padding: 4px 8px; } }
      .pagination li a:hover {
        background-color: #DDD;
        color: #000; }
      .pagination li a.active {
        background-color: #42B3EB;
        color: #FFF;
        border-radius: 5px; }
        .pagination li a.active:hover {
          color: #FFF; }

.alert {
  color: #FFF;
  display: inline-block;
  position: relative;
  margin: 0 0 15px;
  padding: 15px;
  transition: all .3s;
  border-radius: 4px; }
  @media (max-width: 640px) {
    .alert {
      width: 90%; } }
  .alert.success {
    background-color: #1BB935; }
  .alert.info {
    background-color: #2EA1F8; }
  .alert.warning {
    background-color: #FD9A18; }
  .alert.danger {
    background-color: #FD9A18; }

.btn {
  font-size: 14px;
  font-size: 0.875pxrem;
  appearance: none;
  border-radius: 4px;
  color: #FFF;
  cursor: pointer;
  display: inline-block;
  font-weight: normal;
  line-height: 1.5;
  margin: 0;
  max-width: 100%;
  overflow: hidden;
  padding: .5rem 1.25rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  transition: all .15s ease-in-out;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  .btn:active {
    position: relative;
    top: 1px; }
  .btn.default {
    background-color: #F9F9F9;
    background: -moz-linear-gradient(top, #F9F9F9 5%, #E9E9E9 100%);
    background: -ms-linear-gradient(top, #F9F9F9 5%, #E9E9E9 100%);
    background: -o-linear-gradient(top, #F9F9F9 5%, #E9E9E9 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #F9F9F9), color-stop(1, #E9E9E9));
    background: -webkit-linear-gradient(top, #F9F9F9 5%, #E9E9E9 100%);
    background: linear-gradient(to bottom, #F9F9F9 5%, #E9E9E9 100%);
    border: 1px solid #DDD;
    -webkit-box-shadow: inset 0px 1px 0px 0px #FFF;
    -moz-box-shadow: inset 0px 1px 0px 0px #FFF;
    -o-box-shadow: inset 0px 1px 0px 0px #FFF;
    -ms-box-shadow: inset 0px 1px 0px 0px #FFF;
    box-shadow: inset 0px 1px 0px 0px #FFF;
    color: #333; }
    .btn.default:hover {
      background-color: #E9E9E9;
      background: -moz-linear-gradient(top, #E9E9E9 5%, #F9F9F9 100%);
      background: -ms-linear-gradient(top, #E9E9E9 5%, #F9F9F9 100%);
      background: -o-linear-gradient(top, #E9E9E9 5%, #F9F9F9 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #E9E9E9), color-stop(1, #F9F9F9));
      background: -webkit-linear-gradient(top, #E9E9E9 5%, #F9F9F9 100%);
      background: linear-gradient(to bottom, #E9E9E9 5%, #F9F9F9 100%); }
  .btn.success {
    background-color: #74AD5A;
    background: -moz-linear-gradient(top, #74AD5A 5%, #68A54B 100%);
    background: -ms-linear-gradient(top, #74AD5A 5%, #68A54B 100%);
    background: -o-linear-gradient(top, #74AD5A 5%, #68A54B 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #74AD5A), color-stop(1, #68A54B));
    background: -webkit-linear-gradient(top, #74AD5A 5%, #68A54B 100%);
    background: linear-gradient(to bottom, #74AD5A 5%, #68A54B 100%);
    border: 1px solid #3B6E22;
    -webkit-box-shadow: inset 0px 1px 0px 0px #9ACC85;
    -moz-box-shadow: inset 0px 1px 0px 0px #9ACC85;
    -o-box-shadow: inset 0px 1px 0px 0px #9ACC85;
    -ms-box-shadow: inset 0px 1px 0px 0px #9ACC85;
    box-shadow: inset 0px 1px 0px 0px #9ACC85; }
    .btn.success:hover {
      background-color: #68A54B;
      background: -moz-linear-gradient(top, #68A54B 5%, #74AD5A 100%);
      background: -ms-linear-gradient(top, #68A54B 5%, #74AD5A 100%);
      background: -o-linear-gradient(top, #68A54B 5%, #74AD5A 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #68A54B), color-stop(1, #74AD5A));
      background: -webkit-linear-gradient(top, #68A54B 5%, #74AD5A 100%);
      background: linear-gradient(to bottom, #68A54B 5%, #74AD5A 100%); }
  .btn.primary {
    background-color: #0073BC;
    background: -moz-linear-gradient(top, #0073BC 5%, #0061A7 100%);
    background: -ms-linear-gradient(top, #0073BC 5%, #0061A7 100%);
    background: -o-linear-gradient(top, #0073BC 5%, #0061A7 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0073BC), color-stop(1, #0061A7));
    background: -webkit-linear-gradient(top, #0073BC 5%, #0061A7 100%);
    background: linear-gradient(to bottom, #0073BC 5%, #0061A7 100%);
    border: 1px solid #124D77;
    -webkit-box-shadow: inset 0px 1px 0px 0px #54A3F7;
    -moz-box-shadow: inset 0px 1px 0px 0px #54A3F7;
    -o-box-shadow: inset 0px 1px 0px 0px #54A3F7;
    -ms-box-shadow: inset 0px 1px 0px 0px #54A3F7;
    box-shadow: inset 0px 1px 0px 0px #54A3F7; }
    .btn.primary:hover {
      background-color: #0061A7;
      background: -moz-linear-gradient(top, #0061A7 5%, #0073BC 100%);
      background: -ms-linear-gradient(top, #0061A7 5%, #0073BC 100%);
      background: -o-linear-gradient(top, #0061A7 5%, #0073BC 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061A7), color-stop(1, #0073BC));
      background: -webkit-linear-gradient(top, #0061A7 5%, #0073BC 100%);
      background: linear-gradient(to bottom, #0061A7 5%, #0073BC 100%); }
  .btn.danger {
    background-color: #F24537;
    background: -moz-linear-gradient(top, #F24537 5%, #C62D1F 100%);
    background: -ms-linear-gradient(top, #F24537 5%, #C62D1F 100%);
    background: -o-linear-gradient(top, #F24537 5%, #C62D1F 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #F24537), color-stop(1, #C62D1F));
    background: -webkit-linear-gradient(top, #F24537 5%, #C62D1F 100%);
    background: linear-gradient(to bottom, #F24537 5%, #C62D1F 100%);
    border: 1px solid #D02718;
    -webkit-box-shadow: inset 0px 1px 0px 0px #F5978E;
    -moz-box-shadow: inset 0px 1px 0px 0px #F5978E;
    -o-box-shadow: inset 0px 1px 0px 0px #F5978E;
    -ms-box-shadow: inset 0px 1px 0px 0px #F5978E;
    box-shadow: inset 0px 1px 0px 0px #F5978E; }
    .btn.danger:hover {
      background-color: #C62D1F;
      background: -moz-linear-gradient(top, #C62D1F 5%, #F24537 100%);
      background: -ms-linear-gradient(top, #C62D1F 5%, #F24537 100%);
      background: -o-linear-gradient(top, #C62D1F 5%, #F24537 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #C62D1F), color-stop(1, #F24537));
      background: -webkit-linear-gradient(top, #C62D1F 5%, #F24537 100%);
      background: linear-gradient(to bottom, #C62D1F 5%, #F24537 100%); }
  .btn.warning {
    background-color: #FFEC64;
    background: -moz-linear-gradient(top, #FFEC64 5%, #FFAB23 100%);
    background: -ms-linear-gradient(top, #FFEC64 5%, #FFAB23 100%);
    background: -o-linear-gradient(top, #FFEC64 5%, #FFAB23 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #FFEC64), color-stop(1, #FFAB23));
    background: -webkit-linear-gradient(top, #FFEC64 5%, #FFAB23 100%);
    background: linear-gradient(to bottom, #FFEC64 5%, #FFAB23 100%);
    border: 1px solid #FFAA22;
    -webkit-box-shadow: inset 0px 1px 0px 0px #FFF6AF;
    -moz-box-shadow: inset 0px 1px 0px 0px #FFF6AF;
    -o-box-shadow: inset 0px 1px 0px 0px #FFF6AF;
    -ms-box-shadow: inset 0px 1px 0px 0px #FFF6AF;
    box-shadow: inset 0px 1px 0px 0px #FFF6AF; }
    .btn.warning:hover {
      background-color: #FFAB23;
      background: -moz-linear-gradient(top, #FFAB23 5%, #FFEC64 100%);
      background: -ms-linear-gradient(top, #FFAB23 5%, #FFEC64 100%);
      background: -o-linear-gradient(top, #FFAB23 5%, #FFEC64 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #FFAB23), color-stop(1, #FFEC64));
      background: -webkit-linear-gradient(top, #FFAB23 5%, #FFEC64 100%);
      background: linear-gradient(to bottom, #FFAB23 5%, #FFEC64 100%); }
  .btn.dark {
    background-color: #333;
    background: -moz-linear-gradient(top, #333 5%, #111 100%);
    background: -ms-linear-gradient(top, #333 5%, #111 100%);
    background: -o-linear-gradient(top, #333 5%, #111 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #333), color-stop(1, #111));
    background: -webkit-linear-gradient(top, #333 5%, #111 100%);
    background: linear-gradient(to bottom, #333 5%, #111 100%);
    border: 1px solid #222;
    -webkit-box-shadow: inset 0px 1px 0px 0px #555;
    -moz-box-shadow: inset 0px 1px 0px 0px #555;
    -o-box-shadow: inset 0px 1px 0px 0px #555;
    -ms-box-shadow: inset 0px 1px 0px 0px #555;
    box-shadow: inset 0px 1px 0px 0px #555; }
    .btn.dark:hover {
      background-color: #111;
      background: -moz-linear-gradient(top, #111 5%, #333 100%);
      background: -ms-linear-gradient(top, #111 5%, #333 100%);
      background: -o-linear-gradient(top, #111 5%, #333 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #111), color-stop(1, #333));
      background: -webkit-linear-gradient(top, #111 5%, #333 100%);
      background: linear-gradient(to bottom, #111 5%, #333 100%); }
  .btn.black {
    color: #333; }

/* Common styles */
.media {
  position: fixed;
  top: 0px, false, false, 0% [0];
  right: 0px, false, false, 0% [1];
  bottom: 0px, false, false, 0% [2];
  left: 0px, false, false, 0% [3];
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  z-index: 9999;
  box-sizing: border-box;
  padding: 30px; }
  @media (max-width: 640px) {
    .media {
      padding: 0; } }
  .media .bodyMedia {
    background-color: #172B44;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 10px;
    padding-top: 100px;
    box-sizing: border-box; }
    @media only screen and (max-width: 960px) {
      .media .bodyMedia {
        padding-top: 150px; } }
    .media .bodyMedia h2 {
      position: absolute;
      top: 10px, false, false, 15px [0];
      right: 10px, false, false, 15px [1];
      bottom: 10px, false, false, 15px [2];
      left: 10px, false, false, 15px [3];
      color: #FFF;
      margin: 0; }
    .media .bodyMedia .closeMedia {
      font-size: 24px;
      font-size: 1.5pxrem;
      position: absolute;
      top: 10px, 10px [0];
      right: 10px, 10px [1];
      cursor: pointer;
      color: #FFF; }
    .media .bodyMedia .uploadForm {
      font-size: 13px;
      font-size: 0.8125pxrem;
      position: absolute;
      top: 50px, false, false, 15px [0];
      right: 50px, false, false, 15px [1];
      bottom: 50px, false, false, 15px [2];
      left: 50px, false, false, 15px [3];
      color: #FFF; }
    .media .bodyMedia .searchMedia {
      position: absolute;
      top: 40px, 35px [0];
      right: 40px, 35px [1]; }
      @media only screen and (max-width: 960px) {
        .media .bodyMedia .searchMedia {
          left: 15px;
          top: 90px; } }
      @media only screen and (max-width: 340px) {
        .media .bodyMedia .searchMedia {
          top: 110px; } }
      .media .bodyMedia .searchMedia input {
        border: 1px solid #FFF;
        font-size: 14px;
        font-size: 0.875pxrem;
        padding: 10px;
        width: 180px; }
        @media (max-width: 640px) {
          .media .bodyMedia .searchMedia input {
            width: 70%; } }
    .media .bodyMedia .files {
      overflow-y: scroll;
      height: 100%; }
    .media .bodyMedia .fakeLink {
      cursor: pointer; }
    .media .bodyMedia .options {
      background-color: #000;
      font-size: 14px;
      font-size: 0.875pxrem;
      position: absolute;
      top: false, false, 0px, 0px [0];
      right: false, false, 0px, 0px [1];
      bottom: false, false, 0px, 0px [2];
      left: false, false, 0px, 0px [3];
      display: none;
      height: 50px;
      line-height: 50px;
      text-align: center;
      width: 100%; }
      .media .bodyMedia .options a {
        color: #FFF;
        display: inline-block;
        text-decoration: none; }
        .media .bodyMedia .options a.insert {
          cursor: pointer;
          float: left;
          width: 50%; }
          .media .bodyMedia .options a.insert:hover {
            background-color: #172B44; }
        .media .bodyMedia .options a.download {
          float: left;
          width: 50%; }
          .media .bodyMedia .options a.download:hover {
            background-color: #172B44; }
    .media .bodyMedia .file {
      border: 2px solid #FFF;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover;
      display: inline-block;
      float: left;
      height: 90px;
      margin: 4px;
      padding: 10px;
      position: relative;
      width: 21.5%; }
      .media .bodyMedia .file:hover .options {
        display: block; }
      @media only screen and (min-width: 949px) and (max-width: 1170px) {
        .media .bodyMedia .file {
          width: 29%; } }
      @media only screen and (min-width: 769px) and (max-width: 949px) {
        .media .bodyMedia .file {
          width: 27%; } }
      @media only screen and (min-width: 640px) and (max-width: 769px) {
        .media .bodyMedia .file {
          width: 27.5% !important; } }
      @media only screen and (max-width: 450px) {
        .media .bodyMedia .file {
          padding: 0; } }
      @media (min-width: 768px) and (max-width: 1023px) {
        .media .bodyMedia .file {
          width: 28.5%; } }
      @media (max-width: 640px) {
        .media .bodyMedia .file {
          width: 92.8%; } }
      .media .bodyMedia .file:hover {
        border: 2px solid #2EA1F8; }
      .media .bodyMedia .file i {
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 50px;
        font-size: 40px;
        font-size: 2.5pxrem;
        color: #FFF; }
        .media .bodyMedia .file i.code {
          color: #666; }
        .media .bodyMedia .file i.pdf {
          color: #FC1C49; }
        .media .bodyMedia .file i.video {
          color: #1D9A90; }
        .media .bodyMedia .file i.word {
          color: #2EA1F8; }
        .media .bodyMedia .file i.zip {
          color: #F6D42A; }
      .media .bodyMedia .file p {
        font-size: 12px;
        font-size: 0.75pxrem;
        color: #FFF;
        margin-top: 50px;
        text-align: center; }
        @media (max-width: 640px) {
          .media .bodyMedia .file p {
            font-size: 10px;
            font-size: 0.625pxrem; } }

body {
  font-family: "SourceSansPro", sans-serif;
  background-position: left;
  background-repeat: repeat-y;
  margin: 0;
  padding: 0;
  overflow-x: hidden; }
  @media (min-width: 768px) and (max-width: 1023px) {
    body {
      background-image: none; } }
  body input,
  body textarea {
    outline: none; }
  body a {
    text-decoration: none; }
  body .hidden {
    display: none; }
  body .Main {
    display: flex; }

.navbar {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 80px;
  min-width: 100%;
  padding: 13px 30px;
  position: relative;
  margin-bottom: 20px;
  position: relative; }
  .navbar i.theme {
    font-size: 24px;
    font-size: 1.5pxrem;
    position: absolute;
    left: 80%;
    top: 40px; }
    @media only screen and (max-width: 1600px) {
      .navbar i.theme {
        left: 70%; } }
    @media (min-width: 768px) and (max-width: 1023px) {
      .navbar i.theme {
        left: 85%; } }
    @media (max-width: 640px) {
      .navbar i.theme {
        left: 75%; } }
  .navbar h2 {
    text-transform: capitalize; }
  .navbar nav {
    display: none; }
    @media (min-width: 768px) and (max-width: 1023px) {
      .navbar nav {
        display: block; } }
    .navbar nav a {
      font-size: 36px;
      font-size: 2.25pxrem;
      color: #555;
      cursor: pointer; }

.Content {
  margin-bottom: 40px;
  margin-left: 250px;
  min-width: 100%; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .Content {
      margin-bottom: 40px;
      margin-left: 0; } }
  .Content .container {
    padding-left: 20px;
    width: 80%; }
    @media only screen and (max-width: 1024px) {
      .Content .container {
        width: 70%; } }
    @media (min-width: 768px) and (max-width: 1023px) {
      .Content .container {
        width: 98%; } }
    @media (max-width: 640px) {
      .Content .container {
        padding-left: 7px; } }
    .Content .container h1 {
      font-family: "OpenSans", sans-serif;
      text-transform: uppercase; }
    .Content .container.readAction .readAction {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      position: relative; }
      @media (min-width: 768px) and (max-width: 1023px) {
        .Content .container.readAction .readAction {
          display: block; } }
      .Content .container.readAction .readAction .backupLink a {
        color: #777; }
      @media (min-width: 768px) and (max-width: 1023px) {
        .Content .container.readAction .readAction .backupLink {
          display: none; } }
      @media (max-width: 640px) {
        .Content .container.readAction .readAction a.btn {
          width: 88%; } }
      .Content .container.readAction .readAction .search {
        left: 220px;
        position: absolute;
        top: 15px;
        width: 80%; }
        @media (min-width: 768px) and (max-width: 1023px) {
          .Content .container.readAction .readAction .search {
            top: 0px; } }
        @media (max-width: 640px) {
          .Content .container.readAction .readAction .search {
            display: none; } }
        .Content .container.readAction .readAction .search input[type="text"] {
          font-size: 13px;
          font-size: 0.8125pxrem;
          position: absolute;
          color: #333;
          height: 34px;
          margin-right: 10px;
          padding-left: 5px;
          padding-right: 5px;
          width: 163px; }
        .Content .container.readAction .readAction .search input[type="submit"] {
          position: absolute;
          top: false, false, false, 190px [0];
          right: false, false, false, 190px [1];
          bottom: false, false, false, 190px [2];
          left: false, false, false, 190px [3]; }
        .Content .container.readAction .readAction .search .searching {
          font-size: 13px;
          font-size: 0.8125pxrem;
          position: absolute;
          top: 45px [0]; }
    .Content .container .Create h2,
    .Content .container .Update h2 {
      font-family: "OpenSans", sans-serif;
      text-transform: uppercase; }
    .Content .container .Create .errorBorder,
    .Content .container .Update .errorBorder {
      border: 1px solid #FF0000; }
    .Content .container .Create .pointer,
    .Content .container .Update .pointer {
      cursor: pointer; }
    .Content .container .Create .leftBlock,
    .Content .container .Update .leftBlock {
      float: left;
      width: 65%; }
    .Content .container .Create .rightBlock,
    .Content .container .Update .rightBlock {
      float: left;
      width: 30%; }
    .Content .container .Create .centralBlock,
    .Content .container .Update .centralBlock {
      float: left;
      width: 90%; }
    .Content .container .Create .inputBlock label,
    .Content .container .Update .inputBlock label {
      font-weight: bold; }
      .Content .container .Create .inputBlock label .errorMessage,
      .Content .container .Update .inputBlock label .errorMessage {
        font-size: 12px;
        font-size: 0.75pxrem;
        color: #FF0000; }
    .Content .container .Create .input,
    .Content .container .Update .input {
      height: 40px;
      padding: 5px;
      width: 90%; }
      @media (max-width: 640px) {
        .Content .container .Create .input,
        .Content .container .Update .input {
          width: 95%; } }
    .Content .container .Create .editor,
    .Content .container .Update .editor {
      border: 1px solid #DDD;
      height: 400px;
      padding: 5px;
      width: 91%; }
      @media (max-width: 640px) {
        .Content .container .Create .editor,
        .Content .container .Update .editor {
          width: 98%; } }
    .Content .container .Create .select,
    .Content .container .Update .select {
      background-color: #FFF;
      border: 1px solid #DDD;
      font-size: 16px;
      font-size: 1pxrem;
      font-weight: 400;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -o-box-sizing: border-box;
      -ms-box-sizing: border-box;
      box-sizing: border-box;
      height: 54px;
      line-height: 54px;
      padding-left: 5px;
      text-transform: capitalize;
      vertical-align: middle;
      width: 56%; }
      .Content .container .Create .select.temporal,
      .Content .container .Update .select.temporal {
        text-transform: none; }
    .Content .container .Create .submit,
    .Content .container .Update .submit {
      text-transform: capitalize; }
      @media (min-width: 768px) and (max-width: 1023px) {
        .Content .container .Create .submit,
        .Content .container .Update .submit {
          display: block;
          margin-bottom: 90px;
          margin-top: 30px;
          width: 25%; } }
    .Content .container .Create #codes,
    .Content .container .Update #codes {
      font-family: "SourceCodePro", sans-serif;
      font-size: 12px;
      font-size: 0.75pxrem; }
    .Content .container .Home {
      align-items: start;
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(3, 1fr);
      padding: 50px; }
      @media (min-width: 768px) and (max-width: 1023px) {
        .Content .container .Home {
          grid-template-columns: 1fr;
          padding: 20px; } }
      .Content .container .Home h4 {
        font-size: 14px;
        font-size: 0.875pxrem;
        color: #666;
        padding: 0 0 20px 0; }
      .Content .container .Home .wrap {
        border: 1px solid #EEE;
        border-radius: 4px;
        padding: 25px; }
        .Content .container .Home .wrap li {
          align-items: center;
          border-bottom: 1px solid #EEE;
          display: flex;
          padding: 11px 0; }
      .Content .container .Home .lastPosts {
        grid-column: 1 / span 3; }
        @media (min-width: 768px) and (max-width: 1023px) {
          .Content .container .Home .lastPosts {
            grid-row: 1 / span 1; } }
        .Content .container .Home .lastPosts li {
          justify-content: space-between; }
          .Content .container .Home .lastPosts li a:first-child {
            margin-right: 10px; }
          .Content .container .Home .lastPosts li a:hover {
            color: #2EA1F8; }
          .Content .container .Home .lastPosts li a:last-child {
            color: #2EA1F8; }
          .Content .container .Home .lastPosts li a:hover {
            color: #0073BC; }
      @media (min-width: 768px) and (max-width: 1023px) {
        .Content .container .Home .lastUsers {
          grid-row: 2 / span 1; } }
      .Content .container .Home .lastUsers img {
        border-radius: 50%;
        display: block;
        height: 20px;
        width: 20px; }
      .Content .container .Home .lastUsers a {
        margin: 0 10px; }
      .Content .container .Home .lastUsers span {
        font-size: 12px;
        font-size: 0.75pxrem;
        color: #999; }
      .Content .container .Home .lastMessages {
        grid-column: 2 / span 2; }
        @media (min-width: 768px) and (max-width: 1023px) {
          .Content .container .Home .lastMessages {
            grid-row: 3 / span 1; } }
        .Content .container .Home .lastMessages li {
          align-items: flex-start;
          flex-direction: column; }
          .Content .container .Home .lastMessages li a {
            color: #2EA1F8;
            margin-bottom: 10px; }
            .Content .container .Home .lastMessages li a:hover {
              color: #0073BC; }
      .Content .container .Home .lastMessages,
      .Content .container .Home .lastUsers,
      .Content .container .Home .lastPosts {
        background-color: #FFF; }
        @media (min-width: 768px) and (max-width: 1023px) {
          .Content .container .Home .lastMessages,
          .Content .container .Home .lastUsers,
          .Content .container .Home .lastPosts {
            grid-column: 1 / span 1; } }

.Sidebar {
  background-color: #222;
  color: #FFF;
  bottom: 0;
  position: fixed;
  top: 0;
  width: 250px;
  z-index: 1000; }
  .Sidebar.hidden {
    display: block; }
    @media (min-width: 768px) and (max-width: 1023px) {
      .Sidebar.hidden {
        display: none; } }
    @media (max-width: 640px) {
      .Sidebar.hidden {
        display: none; } }
  .Sidebar .wrapper {
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 40px;
    position: relative;
    z-index: 200; }
    .Sidebar .wrapper .brand a {
      font-size: 24px;
      font-size: 1.5pxrem;
      font-weight: 700;
      color: #FFF;
      text-indent: 10px; }
    .Sidebar .wrapper .title {
      font-size: 12px;
      font-size: 0.75pxrem;
      color: #777;
      margin-bottom: 15px;
      margin-top: 25px;
      padding-left: 30px;
      text-transform: uppercase; }
    .Sidebar .wrapper ul {
      list-style-type: none;
      margin: 0;
      padding: 0; }
      .Sidebar .wrapper ul li {
        position: relative;
        transition: background-color .2s; }
        .Sidebar .wrapper ul li.logout .create, .Sidebar .wrapper ul li.dashboard .create {
          display: none; }
        .Sidebar .wrapper ul li.active {
          background-color: #111;
          box-shadow: inset 3px 0 0 0 #00A8FF; }
        .Sidebar .wrapper ul li:hover {
          background-color: #111; }
        .Sidebar .wrapper ul li a {
          font-size: 14px;
          font-size: 0.875pxrem;
          color: #CCC;
          display: inline-block;
          padding: 10px 0 10px 30px;
          text-decoration: none;
          transition: background-color .2s;
          width: 66%; }
          .Sidebar .wrapper ul li a.create {
            float: right;
            padding-right: 20px;
            text-align: center;
            width: 2%; }
          .Sidebar .wrapper ul li a:hover {
            color: #FFF; }

.login {
  margin: 0 auto; }
  .login .wrapper {
    font-family: "OpenSans", sans-serif;
    font-size: 14px;
    font-size: 0.875pxrem;
    background-color: #FFF;
    color: #555;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 200px;
    overflow: hidden;
    padding: 20px;
    position: relative;
    width: 500px; }
    @media (max-width: 640px) {
      .login .wrapper {
        margin-top: 0px;
        width: 320px; } }
    .login .wrapper .logo {
      align-self: center;
      width: 230px; }
      .login .wrapper .logo.isotype {
        width: auto; }
      .login .wrapper .logo.center {
        margin: 0 auto; }
      @media (max-width: 640px) {
        .login .wrapper .logo {
          padding: 20px 0px 20px 0px;
          width: 197px; } }
      .login .wrapper .logo a {
        color: #666;
        display: block;
        z-index: 200; }
        .login .wrapper .logo a img {
          display: inline-block;
          margin: 0;
          margin-right: 5px;
          vertical-align: middle;
          width: 65px; }
        .login .wrapper .logo a .brand {
          font-family: "OpenSans", sans-serif;
          font-weight: 700;
          font-size: 24px;
          font-size: 1.5pxrem;
          vertical-align: middle; }
          .login .wrapper .logo a .brand .code {
            color: #0073BC; }
    .login .wrapper .success {
      text-align: center; }
    .login .wrapper .form {
      position: relative;
      height: 160px;
      margin: 0 auto;
      margin-top: 20px;
      width: 90%; }
      .login .wrapper .form ::-webkit-input-placeholder {
        color: #FFF; }
      .login .wrapper .form :-moz-placeholder {
        color: #FFF;
        opacity: 1; }
      .login .wrapper .form ::-moz-placeholder {
        color: #FFF;
        opacity: 1; }
      .login .wrapper .form ::-ms-input-placeholder {
        color: #FFF; }
      .login .wrapper .form .username,
      .login .wrapper .form .password,
      .login .wrapper .form .email {
        font-family: "OpenSans", sans-serif;
        font-size: 14px;
        font-size: 0.875pxrem;
        background-color: #222;
        border: 1px solid #DDD;
        color: #FFF;
        border-radius: 5px;
        line-height: 1.4;
        margin-bottom: 10px;
        padding: 10px 0px 10px 0px;
        text-indent: 10px;
        width: 100%; }
      .login .wrapper .form .required {
        background-color: #FF8882;
        border: 1px solid red; }
      .login .wrapper .form .login {
        float: left;
        margin-right: 10px; }
        @media (max-width: 640px) {
          .login .wrapper .form .login {
            margin-right: 5px; } }
        .login .wrapper .form .login .register {
          float: left; }
        .login .wrapper .form .login .forgotPassword {
          text-decoration: none;
          color: #555;
          display: none;
          float: right;
          margin-top: 7px; }
          .login .wrapper .form .login .forgotPassword:hover {
            color: #FC1C49; }
          @media (max-width: 640px) {
            .login .wrapper .form .login .forgotPassword {
              font-size: 12px;
              font-size: 0.75pxrem;
              float: none; } }
      .login .wrapper .form .socialLogin .wrapper {
        font-size: 18px;
        font-size: 1.125pxrem;
        font-weight: 700;
        margin: 0 auto;
        padding: 20px 0 20px 0px;
        width: 90%; }
        @media (max-width: 640px) {
          .login .wrapper .form .socialLogin .wrapper {
            font-size: 16px;
            font-size: 1pxrem; } }
        .login .wrapper .form .socialLogin .wrapper .icons {
          font-size: 24px;
          font-size: 1.5pxrem;
          float: right; }
          @media (max-width: 640px) {
            .login .wrapper .form .socialLogin .wrapper .icons {
              margin-top: -6px; } }
          .login .wrapper .form .socialLogin .wrapper .icons .facebook {
            color: #3B5998;
            padding-right: 10px; }
          .login .wrapper .form .socialLogin .wrapper .icons .twitter {
            color: #00A8FF; }
    .login .wrapper .copyRight {
      font-family: "OpenSans", sans-serif;
      font-size: 14px;
      font-size: 0.875pxrem;
      color: #777;
      margin-top: 20px;
      text-align: center; }
      @media (max-width: 640px) {
        .login .wrapper .copyRight {
          font-size: 13px;
          font-size: 0.8125pxrem; }
          .login .wrapper .copyRight a {
            color: #FC1C49; } }

/* Dashboard styles */
body {
  background-color: #000; }
  body input,
  body textarea {
    background-color: #000;
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: #FFF; }

.navbar {
  background-color: #111;
  color: #555;
  border-bottom: none; }
  .navbar i.theme {
    color: #FFF; }
  .navbar h2 {
    color: #FFF; }

.Content .container.readAction .readAction .searching {
  color: #FFF; }

.Content .container .Create .inputBlock label,
.Content .container .Update .inputBlock label {
  color: #CCC; }

.Content .container .Create .inputBlock a,
.Content .container .Update .inputBlock a {
  color: #FFF; }

.Content .container .Create .editor,
.Content .container .Update .editor {
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #FFF; }

.Content .container .Create .select,
.Content .container .Update .select {
  background-color: #000;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #CCC; }

.Content .container .Home .wrap {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3); }
  .Content .container .Home .wrap li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3); }
    .Content .container .Home .wrap li a {
      color: #CCC; }

.Content .container .Home .lastPosts a:first-child:hover {
  color: #595959; }

.Content .container .Home .lastPosts a:last-child {
  color: #333; }
  .Content .container .Home .lastPosts a:last-child:hover {
    color: #595959; }

.Content .container .Home .lastUsers a:hover {
  color: #595959; }

.Content .container .Home .lastMessages a {
  color: #595959; }

.Content .container .Home .lastMessages p {
  color: #CCC; }
