<header class="navbar">
    <nav>
        <a id="openMenu"><i class="fa fa-bars" aria-hidden="true"></i></a> &nbsp;
    </nav>

    <h2>{{ currentDashboardApp  }}</h2>

    <a href="{{ dashboard.themeUrl }}">
        <i class="fa {{dashboard.themeIcon}} theme" aria-hidden="true"></i>
    </a>
</header>
