@import '../../../shared/styles/_dependencies'

.page
    padding 8px
    width 100%

    ul
        li
            margin-left 40px

    p
        margin 20px 0

    img
        border-radius 10px
        max-width 100%

    h2
        font($font.family.avenirRoman, $font.size.xLarge, $font.weight.heavy)
        letter-spacing -1px
        margin-top 20px
        margin-bottom 8px

        @media Mobile
            fontSize($font.size.xLarge)

        a
            position(relative)
            color($colors.common.black)
            padding 10px 0

            &:active
            &:hover
                color($colors.common.blue)

    p
        font($font.family.avenirLight, $font.size.large)
        line-height 35px
        text-align justify

        img
            border-radius 10px
            max-width 100%

        a
            color($colors.common.blue)

            &:active
                color($colors.common.black)

            &.more
                bold()
                uppercase()

        iframe
            height 800px
            width 100%

            @media Mobile
                fontSize($font.size.medium + .5px)
                text-align left
