.navbar
    color($colors.common.gray.five)
    background($colors.common.gray.one)
    border-bottom none

    i.theme
        color($colors.common.white)

    h2
        color($colors.common.white)
