.alert {
    color: $white;
    display: inline-block;
    position: relative;
    margin: 0 0 15px;
    padding: 15px;
    transition: all .3s;
    border-radius: 4px;

    @include mobile {
        width: 90%;
    }

    &.success {
        @include bg($malachite);
    }

    &.info {
        @include bg($dodgerBlue);
    }

    &.warning {
        @include bg($treePoppy);
    }

    &.danger {
        @include bg($treePoppy);
    }
}
