@import './_mixins';

.btn {
    @include fontSize(14px);
    appearance: none;
    border-radius: 4px;
    color: $white;
    cursor: pointer;
    display: inline-block;
    font-weight: normal;
    line-height: 1.5;
    margin: 0;
    max-width: 100%;
    overflow: hidden;
    padding: .5rem 1.25rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all .15s ease-in-out;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;

    &:active {
        position: relative;
        top: 1px;
    }

    &.default {
        @include btn($alabaster, $mercury, $alto, $white);
        color: $tuna;
    }

    &.success {
        @include btn($aquaForest, $chelseaCucumber, $fernFrond, $deYork);
    }

    &.primary {
        @include btn($lochmara, $endeavour, $chathamsBlue, $cornflowerBlue);
    }

    &.danger {
        @include btn($flamingo, $grenadier, $thunderbird, $geraldine);
    }

    &.warning {
        @include btn($parisDaisy, $sunshade, $mySin, $buttermilk);
    }

    &.dark {
        @include btn($tuna, $codGray, $mineShaft, $emperor);
    }

    &.black {
        color: $tuna;
    }
}
