@font-face
    font-family 'AvenirRoman'
    src url('/assets/fonts/Avenir/Roman/font.woff2') format('woff2'),
        url('/assets/fonts/Avenir/Roman/font.woff') format('woff')
    font-weight normal
    font-style normal

@font-face
    font-family 'AvenirLight'
    src url('/assets/fonts/Avenir/Light/font.woff2') format('woff2'),
        url('/assets/fonts/Avenir/Light/font.woff') format('woff')
    font-weight normal
    font-style normal

@font-face
    font-family 'OpenSans'
    src url('/assets/fonts/OpenSans/font.woff2') format('woff2'),
        url('/assets/fonts/OpenSans/font.woff') format('woff')
    font-weight normal
    font-style normal

@font-face
    font-family 'SourceCodePro'
    src url('/assets/fonts/SourceCodePro/font.woff2') format('woff2'),
        url('/assets/fonts/SourceCodePro/font.woff') format('woff')
    font-weight normal
    font-style normal

    @font-face
        font-family 'SourceSansPro'
        src url('/assets/fonts/SourceSansPro/font.woff2') format('woff2'),
            url('/assets/fonts/SourceSansPro/font.woff') format('woff')
        font-weight normal
        font-style normal
