// Basic Colors
$black: #000;
$red: #FF0000;
$white: #FFF;

// Gray Colors
$codGray: #111;
$mineShaft: #222;
$tuna: #333;
$tundora: #444;
$emperor: #555;
$doveGray: #666;
$boulder: #777;
$gray: #888;
$dustyGray: #999;
$silverChalice: #AAA;
$silver: #BBB;
$frenchGray: #CCC;
$alto: #DDD;
$gallery: #EEE;
$mercury: #E9E9E9;
$alabaster: #F9F9F9;

// Specific Colors
// Reds/Pinks:
$radicalRed: #FF2D55;
$torchRed: #FC1C49;
$pink: #FFC3CD;
$vividTangerine: #FF8882;

// Blues:
$easternBlue: #1D9A90;
$lochmara: #0073BC;
$pictonBlue: #42B3EB;
$skyBlue: #41ADE2;
$bigStone: #172B44;
$prussianBlue: #002642;
$oxfordBlue: #364150;
$chambray: #3B5998;
$regentGray: #8290A3;
$dodgerBlue: #2EA1F8;
$azureRadiance: #00A8FF;

// Yellow/Green:
$ripeLemon: #F6D42A;

// React
$frenchPass: #BBF0FF;
$malibu: #5BDAFD;

// Redux
$fuchsiaBlue: #7745BF;

// HTML5
$waxFlower: #FFC1AF;

// Node
$chiffon: #E4FFC3;

// PHP
$melrose: #B5C6FF;

// Vue
$magicMint: #AAF3D3;

// States
$crimson: #ED1C24;
$malachite: #1BB935;
$treePoppy: #FD9A18;

// Sign in button
$amethystSmoke: #9498BB;
$blackcurrant: #2E293C;
$pigeonPost: #B2B9D6;

// Danger button
$thunderbird: #D02718;
$grenadier: #C62D1F;
$geraldine: #F5978E;
$flamingo: #F24537;

// Primary button
$chathamsBlue: #124D77;
$endeavour: #0061A7;
$cornflowerBlue: #54A3F7;

// Success button
$fernFrond: #3B6E22;
$chelseaCucumber: #68A54B;
$deYork: #9ACC85;
$aquaForest: #74AD5A;

// Warning button
$mySin: #FFAA22;
$sunshade: #FFAB23;
$buttermilk: #FFF6AF;
$parisDaisy: #FFEC64;

// Fonts
$avenirRoman: 'AvenirRoman';
$avenirLight: 'AvenirLight';
$openSans: 'OpenSans';
$sourceCodePro: 'SourceCodePro';
$sourceSansPro: 'SourceSansPro';

// Font sizes
$xxxLarge: 48px;
$xxLarge: 32px;
$xLarge: 24px;
$larger: 19px;
$large: 18px;
$big: 17px;
$regular: 16px;
$medium: 14px;
$small: 13px;
$smaller: 12px;
$xSmall: 10px;
$xxSmall: 9px;
$xxxSmall: 8px;

// Font weight
$light: 100;
$normal: 400;
$bold: 700;
$heavy: 900;

// Breakpoints
$tablet: 768px;
$mobile: 640px;
$desktop: 1024px;
