@import '../../../shared/styles/_dependencies'

.post
    padding 8px
    width 45%

    @media Tablet
        width 100%

    &.single
        width 100%

        p
            margin 20px 0

        img
            border-radius 10px
            max-width 100%

    h2
        font($font.family.avenirRoman, $font.size.xxLarge, $font.weight.heavy)
        letter-spacing -1px
        margin-top 20px
        margin-bottom 8px

        @media Mobile
            fontSize($font.size.xLarge)

        a
            position(relative)
            color($colors.common.black)
            padding 10px 0

            &:active
            &:hover
                color($colors.common.blue)

    p
        font($font.family.avenirLight, $font.size.large)
        line-height 35px
        text-align justify

        img
            border-radius 10px
            max-width 100%

        a
            color($colors.common.blue)

            &:active
                color($colors.common.black)

            &.more
                bold()
                uppercase()

        iframe
            height 800px
            width 100%

            @media Mobile
                fontSize($font.size.medium + .5px)
                text-align left

    .readMore
        color($colors.main.second)

        &:hover
            color($colors.main.first)

    .information
        color($colors.common.black)
        text-align left
        margin-bottom 20px

        @media Mobile
            fontSize(13px)

        .author
            bold()
            color($colors.common.blue)

            &:active
            &:hover
                color($colors.main.first)

            @media Mobile
                fontSize($font.size.small)
