<div class="Home">
    <div class="lastPosts wrap">
        <div class="title">
            <h4>Últimas Publicaciones</h4>
        </div>
        <div>
            <ul>
                <li><a href="">Tips CSS - un Css flexible</a><a href="">@telecristy</a></li>
                <li><a href="">Arquitectura CSS con SMACSS</a><a href="">@telecristy</a></li>
                <li><a href="">El uso de listas para ser más productivo y exitoso</a><a href="">@telecristy</a></li>
                <li><a href="">Conociendo Angular 5</a><a href="">Codejobs</a></li>
                <li><a href="">¿Buscas empleo? Infortec te ofrece interesantes opciones</a><a href="">Codejobs</a></li>
                <li><a href="">Trabajando con objetos - Accediendo a sus propiedades</a><a href="">@telecristy</a></li>
                <li><a href="">Cuando trato de enteder el código...</a><a href="">@telecristy</a></li>
                <li><a href="">3 maneras de vaciar o limpiar un Array en JavaScript</a><a href="">@telecristy</a></li>
                <li><a href="">Curso: React Profesional - Puesta en Producción con Digital Ocean #10</a><a href="">Codejobs</a></li>
                <li><a href="">Curso: React Profesional - Server Side Rendering vs Client Side Rendering #9</a><a href="">Codejobs</a></li>
            </ul>
        </div>
    </div>

    <div class="lastUsers wrap">
        <div class="title">
            <h4>Últimos Usuarios</h4>
        </div>

        <div>
            <ul>
                <li><img src="../images/user.jpg" alt=""/><a href="">The_tuff97</a><span>twitter</span></li>
                <li><img src="../images/user1.jpg" alt=""/><a href="">The_tuff97</a><span>twitter</span></li>
                <li><img src="../images/user.jpg" alt=""/><a href="">The_tuff97</a><span>facebook</span></li>
                <li><img src="../images/user2.jpg" alt=""/><a href="">The_tuff97</a><span>facebook</span></li>
                <li><img src="../images/user1.jpg" alt=""/><a href="">The_tuff97</a><span>facebook</span></li>
                <li><img src="../images/user2.jpg" alt=""/><a href="">The_tuff97</a><span>twitter</span></li>
                <li><img src="../images/user.jpg" alt=""/><a href="">The_tuff97</a><span>web</span></li>
                <li><img src="../images/user.jpg" alt=""/><a href="">The_tuff97</a><span>facebook</span></li>
                <li><img src="../images/user2.jpg" alt=""/><a href="">The_tuff97</a><span>twitter</span></li>
                <li><img src="../images/user.jpg" alt=""/><a href="">The_tuff97</a><span>facebook</span></li>
            </ul>
        </div>
    </div>

    <div class="lastMessages wrap">
        <div class="title">
            <h4>Últimos Mensajes</h4>
        </div>

        <div>
            <ul>
                <li>
                    <a href="">The_tuff97</a>

                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis similique optio, ratione unde non soluta distinctio
                        id explicabo nulla voluptas molestiae consequatur.
                    </p>
                </li>
                <li>
                    <a href="">The_tuff97</a>

                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis similique optio, ratione unde non soluta distinctio
                        id explicabo nulla voluptas molestiae consequatur.
                    </p>
                </li>
                <li>
                    <a href="">The_tuff97</a>

                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis similique optio, ratione unde non soluta distinctio
                        id explicabo nulla voluptas molestiae consequatur.
                    </p>
                </li>
                <li>
                    <a href="">The_tuff97</a>

                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis similique optio, ratione unde non soluta distinctio
                        id explicabo nulla voluptas molestiae consequatur.
                    </p>
                </li>
                <li>
                    <a href="">The_tuff97</a>

                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis similique optio, ratione unde non soluta distinctio
                        id explicabo nulla voluptas molestiae consequatur.
                    </p>
                </li>
                <li>
                    <a href="">The_tuff97</a>

                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis similique optio, ratione unde non soluta distinctio
                        id explicabo nulla voluptas molestiae consequatur.
                    </p>
                </li>
                <li>
                    <a href="">The_tuff97</a>

                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis similique optio, ratione unde non soluta distinctio
                        id explicabo nulla voluptas molestiae consequatur.
                    </p>
                </li>
                <li>
                    <a href="">The_tuff97</a>

                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis similique optio, ratione unde non soluta distinctio
                        id explicabo nulla voluptas molestiae consequatur.
                    </p>
                </li>
                <li>
                    <a href="">The_tuff97</a>

                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis similique optio, ratione unde non soluta distinctio
                        id explicabo nulla voluptas molestiae consequatur.
                    </p>
                </li>

                <li>
                    <a href="">The_tuff97</a>

                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis similique optio, ratione unde non soluta distinctio
                        id explicabo nulla voluptas molestiae consequatur.
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>
