@import '../../../styles/_dependencies'

.header
    position relative
    z-index 9999

    .wrapper
        center()
        display flex
        width 80%

        @media Mobile
            flex-direction column
            justify-content center
            align-items center
