@import '../../styles/_dependencies'

.technologiesMenu
    background($colors.common.gray.three)
    margin-bottom 40px

    ul
        resetList()

        align-items center
        display flex
        flex-wrap wrap
        height 100%
        justify-content center
        margin 0 auto
        max-width 1280px

        li
            height 100%

        +li
            margin-left 5px
        a
            display block
            padding 10px 15px

            &.active
                background($colors.common.white)

            &:hover
                background($colors.common.white)

        img
            width 35px

            @media Mobile
                width 25px
