@import '../../../shared/styles/_dependencies'

.comment
    .wrapper
        .commentContainer
            display flex
            flex-grow 1
            margin-bottom 20px

            .commentImg
                align-self flex-start
                border-radius 5px
                margin-right 20px
                padding 5px

                .commentImgWrapper
                    display flex

                    img
                        height 6vh
                        border-radius 5px

                        @media Mobile
                            height 3.5vh

            .commentText
                border-radius 5px
                padding 10px 15px
                box-shadow: 0px 0px 0px 2px $colors.common.gray.D
                flex-grow 1
                position relative

                .commentTextHead
                    justify-content space-between
                    display flex
                    margin-bottom 5px

                    .commentTextHeadAuthor
                        fontSize(20px)
                        color($colors.common.gray.three)
                        bold()
                        margin-bottom 20px

                        @media Mobile
                            fontSize(17px)

                    .commentTextHeadTime
                        fontSize($font.size.smaller)

                .commentTextBody
                    margin-bottom 5px
                    word-break break-all

                    @media Mobile
                        fontSize(12px)

                .trash
                    bottom 10px
                    cursor pointer
                    position absolute
                    right 10px

        .commentForm
            border-radius 5px
            box-shadow: 0px 0px 0px 2px $colors.common.gray.D
            margin-bottom 40px
            height 160px
            padding 5px
            position relative

            .commentField
                color($colors.common.gray.three)
                fontSize($font.size.medium)
                border($colors.common.gray.D)
                height 100px
                letter-spacing 0.5px
                outline none
                padding 10px
                width 100%

            .textCounter
                fontSize(12px)
                float right

                @media Mobile
                    fontSize(9px)

            .noConnected
                position absolute
                bottom 20px
                left 120px

                @media Mobile
                    fontSize(12px)
                    bottom 19px

                +maxBreakpoint(400px)
                    bottom 15px

                a
                    color($colors.main.first)

                    &:hover
                        color($colors.main.second)
