@import '../../../shared/styles/_dependencies'

.forgotPassword
    .wrapper
        width 500px
        margin 0 auto
        padding-top 60px
        min-height: 320px
        .forgotPasswordForm
            placeholder(white)

            .textContainer
                font($font.family.openSans, $font.size.medium)
                color($colors.common.gray.three)
                margin-bottom: 20px

            .successText
                font($font.family.openSans, $font.size.xLarge)
                text-align center
                margin-top 40px

            .logoContainer
                display: flex
                align-items: center
                justify-content: center
                margin-bottom: 20px
                .logoImage
                    width: 65px
                    margin-right: 5px
                .logoText,logoTextBlue
                    font($font.family.openSans, $font.size.xLarge)
                .logoText
                    color($colors.common.gray.six)
                .logoTextBlue
                    color($colors.main.first)

            .input
                background($colors.common.gray.two)
                border($colors.common.gray.D)
                color($colors.common.white)
                font($font.family.openSans, $font.size.regular)
                border-radius 5px
                line-height 1.4
                margin-bottom 10px
                padding 10px 0
                text-indent 10px
                width 100%
             .required
                background($colors.specific.mandy)
                border()
